.card {
    --card-size: var(--block);
    border-radius: 6px;
    display: inline-block;
    width: var(--card-size);
    height: var(--card-size);
    border: 1px solid rgba(0, 0, 0, .2);
    vertical-align: top;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    position: relative;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .05);
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(8px);
}

.card-content {
    padding: 0 var(--spacing) var(--spacing);
}

.card-2 {
    width: calc(var(--card-size) * 2 + var(--spacing)); 
}

.card-2x2 {
    width: calc(var(--card-size) * 2 + var(--spacing)); 
    height: calc(var(--card-size) * 2 + var(--spacing)); 
}

.dark .card {
    background: rgba(0, 0, 0, .5);
    border: none;
}

.card-heading {
    padding: var(--spacing);
}

.card-heading h2 {
    color: var(--accent);
}

.footer,
.footer:link,
.footer:visited {
    text-align: right;
    border-radius:  0 0 6px 6px;
    padding:  var(--spacing); 
    background: #bbb;
    cursor: pointer;
    display: block;
}

.dark .footer,
.dark .footer:link,
.dark .footer:visited {
    background: inherit;
}

.dark .footer:hover,
.footer:hover {
    background: var(--accent);
    color: #fff;
}

.footer svg {
    width: 16px;
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: text-bottom;
    color: inherit;
}

.cols2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cols2 > * + * {
    border-left: 1px solid;
    padding-left: 10px;
}

.cols2-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 225px;
}

.cols2-flex > * {
    display: inline-block;
    max-width: 350px;
}

@media screen and (max-width: 600px) {
    .card,
    div.card-2x {
        height: auto;
    }

    .cols2 {
        display: block;
    }

    .cols2 > * + * {
        border: none;
        padding-left: 0;
    }

    .cols2-flex {
        max-height: none;
    }
}