.card {
    --card-size: 12rem;
    border-radius: var(--spacing);
    display: inline-block;
    padding: var(--spacing);
    margin: var(--spacing);
    width: var(--card-size);
    height: var(--card-size);
    border: 1px solid rgba(0, 0, 0, .2);
    vertical-align: top;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .3);
    position: relative;
}

.card-2x {
    width: calc(var(--card-size) * 2 + var(--spacing)); 
}

.dark .card {
    background: rgba(0, 0, 0, .2);
    border: none;
    box-shadow: none;
    border-radius: 
}