.card {
    --card-size: var(--block);
    border-radius: 6px;
    display: inline-block;
    padding: var(--spacing);
    width: var(--card-size);
    height: var(--card-size);
    border: 1px solid rgba(0, 0, 0, .2);
    vertical-align: top;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    position: relative;
    box-sizing: border-box;
    background: rgb(235, 235, 235);
}

.card-2x {
    width: calc(var(--card-size) * 2 + var(--spacing)); 
}

.dark .card {
    background: rgb(28, 28, 28);
    border: none;
}

@media screen and (max-width: 600px) {
    .card,
    div.card-2x {
        height: auto;
    }
}