.food-location + .food-location {
    margin-top: 10px;
}

.food-location h2 {
    margin-bottom: 0;
}

.food-location {
    font-size: 13px;
    line-height: 20px;
}

.food-location label {
    font-weight: 600;
}

.event-movie-time {
    display: inline-block;
    background: #aaa;
    padding: 3px 5px;
    margin: 0 10px 10px 0;
    color: #fff;
    border-radius: 2px;
}

.truck {
    margin-left: 10px;
}

.dark .event-movie-time {
    background: #666;
}

.event-movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 280px;
    gap: 5px;
}

.cols2 .event-movies {
    height: auto;
}

.event-movie {
    display: inline-block;
    max-width: 300px;
}

.truck-table {
    width: 100%;
}

.truck-table td {
    vertical-align: top;
    font-size: 10px;
}

.truck-table th {
    background: #ccc;
}

.dark .truck-table th {
    background: #1a1a1a;
}

.foodtruck-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px 20px;
}

.foodtruck-week .truck {
    margin: 0;
}

.day-truck {
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
}

.band h4,
.event h4 {
    margin-top: 10px;
}

.today .event-date {
    color: var(--accent);
}

@media screen and (max-width: 600px) {
    .event-movies {
        height: auto;
    }

    
    .foodtruck-week {
        grid-template-columns: repeat(4, 1fr);
    }
}