.password_group {
    line-height: 1.25em;
}

.password_item {
    margin: 0 0 var(--spacing);
    display: inline-block;
    min-width: 200px;
}

.password_item label {
    color: #000;
}

.dark .password_item label {
    color: #fff;
}

.password_item label::after {
    content: ": ";
}

.password_group  h3 {
    margin: 20px 0;
}

.password_group + .password_group h3 {
    border-top: 1px solid rgba(0, 0, 0, .3);
    padding-top: 40px;
    margin-top: 30px;
}

.dark .password_group + .password_group h3 {
    border-top: 1px solid rgba(255, 255, 255, .3);
}
