.settings-open {
    cursor: pointer;
    background: var(--accent);
    height: 36px;
}

.settings-open svg {
    width: 30px;
    margin: 2px 0 0;
}

.settings-open:hover svg {
    text-shadow: 0 0 4px #fff;
}

.dark nav.navigation {
    --nav-back: rgba(20, 20, 20, .5);
}

.navigation a {
    display: block;
    padding: var(--spacing);
    margin: 0 calc(var(--spacing) * -1);
}

.navigation a:hover,
.color_option:hover {   
    background: rgba(0, 0, 0, .1);
}

.dark .navigation a:hover,
.dark .color_option:hover {
    background: rgba(255, 255, 255, .2);
}

.nav-section {
    padding: var(--spacing) 0;
}

.nav-section + .nav-section {
    border-top: 1px solid;
}

.drawer_open {
    position: absolute;
    left: -40px;
}

.settings_open,
.settings_close {
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    background: var(--nav-back);
    padding: 10px;
    border-radius: 6px 0 0 6px;
}

.settings_open svg {
    fill: currentColor;
}


.nav_open .settings_open,
.nav_close .settings_close {
    display: none;
}