.page {
    min-height: 100vh;
    background: var(--main-bg-color);
    color: var(--font-color);
}

.page-with-title .content-area {
    display: grid;
    grid-template-rows: 4rem 1fr;
}

.content {
    max-width: 1340px;
    display: flex;
    flex-direction: row;
    min-height: 100%;
    flex-wrap: wrap;
    gap: var(--spacing);
    padding: var(--spacing);
    box-sizing: border-box;
    align-content: start;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    body {
        line-height: 2em;
    }

    .page {
        display: block;
    }

    div.card {
        display: block;
        width: 100%;
    }

    div.card-2x {
        height: calc(var(--block) *2);
    }

    div.calendar_card {
        height: var(--block);
    }
}
