.color_option {
    line-height: 2em;
    margin: 0 calc(var(--spacing) * -1);
    padding: 4px var(--spacing);
}

.swatch {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;
    border-radius: 50%;
}

.color-picker {
    vertical-align: middle;
    margin: 0 10px 0 0;
}