.color_option {
    line-height: 2em;
    margin: 0 calc(var(--spacing) * -1);
    padding: 4px var(--spacing);
}

.swatch {
    width: 1.6em;
    height: 1.6em;
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
    border-radius: 50%;
}