@font-face {
    font-family: 'poppins';
    src: url(../assets/Poppins-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'poppins-thin';
    src: url(../assets/Poppins-Thin.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'poppins-bold';
    src: url(../assets/Poppins-SemiBold.ttf);
    font-display: swap;
}
body {
    font-size: small;
    font-family: 'poppins', sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
    line-height: 1.6em;
    --background-solid: rgb(220, 220, 220);
    --main-bg-color: linear-gradient(0deg, var(--background-solid) 35%, transparent 60%);
    --font-color: rgb(60, 70, 70);
    --spacing: 10px;
    --padding: 10px;
    --accent: rgb(0, 117, 234);
    --block: 20rem;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

.dark {
    --background-solid: rgb(11, 11, 11);
    --main-bg-color: linear-gradient(0deg, var(--background-solid) 35%, transparent 85%);
    --font-color: rgb(180, 180, 180);
}

h1 {
    margin: var(--spacing);
    font-weight: 100;
    font-size: 3em;
    color: var(--accent);
    line-height: 1em;
}

h2 {
    font-weight: 200;
    margin: 0 0 var(--spacing);
}

.dark h2 {
    color: rgb(200, 200, 200);
}

h3 { 
    margin: var(--spacing) 0 5px;
    font-weight: 200;
    color: #000;
}

.dark h3 {
    color: #fff;
}

h4 {
    margin: 0;
}

.dark h4 {
    font-weight: 200;
    color: #fff;
}

p {
    margin: 0 0 var(--spacing);
}

a:link.link,
a:visited.link {
    transition: color .2s linear;
    border-bottom: 1px dotted;
}

.link:hover {
    color: var(--accent);
}

.highlight {
    font-weight: 700;
}

.dark .highlight {
    color: #fff;
}

a.button {
    border-radius: 3px;
    padding: .5em 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, .8);
    margin: .5em 1em .5em 0;
    display: inline-block;
    background: var(--accent);
    color: #fff;
    font-weight: bold;
    transition: all linear .3s;
    min-width: 120px;
    text-align: center;
}

.button:hover {
    box-shadow: 0 0 6px var(--accent);
}

.mobile-menu-open {
    display: none;
    width: 24px;
    padding: 6px;
}

.mobile-menu .header-link {
    display: block;
}

.mobile-menu .header-link span,
.mobile-menu .header-link a {
    padding: 20px 0;
    display: block;
    font-size: 30px;
}

ul {
    margin: 0;
    line-height: 1.25em;
}

@media screen and (max-width: 600px) {
    .mobile-menu-open {
        display: block;
    }

    .header-main > .header-link {
        display: none;
    }
}