.streams {
    margin-bottom: 0;
    font-size: 1em;
    display: flex;
    flex-flow: row wrap;
    height: calc(var(--block) - 2em);
    gap: 5px;
}

.streams h3 {
    margin: 0;
}

.stream {
    width: 300px;
    display: inline-block;
    line-height: 1.2em;
}
