.time {
    font-size: 4rem;
    line-height: 4rem;
    font-family: 'Segoe UI Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0 0 var(--spacing);
    color: var(--accent);
}

.date {
    text-align: center;
}

.date::after {
    content: '';
    display: block;
    height: 0;
    border-bottom: 1px solid;
    opacity: .5;
    margin: var(--spacing) 0;
}

.time-zone {
    font-size: 1rem;
    text-align: right;
}

.time-zone label {
    text-transform:capitalize;
    font-weight: 700;
}