.time {
    font-size: 4rem;
    line-height: 4rem;
    font-family: 'Segoe UI Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0 0 var(--spacing);
    color: var(--accent);
}

.date {
    text-align: center;
}

.date::after {
    content: '';
    display: block;
    height: 0;
    border-bottom: 1px solid;
    opacity: .5;
    margin: var(--spacing) 0;
}

.time-zone {
    font-size: 1rem;
    margin: 0 0 var(--spacing);
    position: relative;
    display: inline-block;
    min-width: calc(var(--block) / 2.2)
}

.time-zone label {
    text-transform:capitalize;
    font-weight: 700;
}

.world_svg {
    width: 90%;
    position: absolute;
    bottom: 10px;
    opacity: .15;
}